/* import font from google */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Color Varibles */
:root {
  --Softblue: rgb(139, 172, 218);
  --Cyan: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --box-shdow-card: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
  --filter-img: grayscale(28%) brightness(62%) saturate(428%) opacity(33%)
    contrast(109%);
}

body {
  background-color: var(--mainBG);
  font-family: "Outfit", sans-serif;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--cardBG);
  width: 320px;
  height: 600px;
  border-radius: 15px;
  margin-bottom: 10px;
  -webkit-box-shadow: var(--box-shdow-card);
  -moz-box-shadow: var(--box-shdow-card);
  box-shadow: var(--box-shdow-card);
}
.main {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.main_img {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 288px;
}

.main:hover {
  filter: var(--filter-img);
  -webkit-filter: var(--filter-img);
  -moz-filter: var(--filter-img);
  cursor: pointer;
}

.view {
  visibility: hidden;
  position: absolute;
  left: 43%;
  top: 21%;
  z-index: 3;
  transition: 0.3s;
}

.main_img:hover .view {
  visibility: visible;
  cursor: pointer;
}

.main_text {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.3rem;
  color: var(--White);
}

.main_text span {
  transition: 0.3s;
}

.main_text span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.main_prg {
  margin-left: 5%;
  margin-bottom: 7%;
  font-size: 1.05rem;
  color: var(--Softblue);
}

.left_side {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.left_side img,
.right_side img {
  margin-right: 5px;
}

.left_side span {
  color: var(--Cyan);
}

.right_side {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.right_side span {
  color: var(--Softblue);
}

hr {
  margin-left: 5%;
  margin-top: 4%;
  width: 90%;
  height: 1px;
  background-color: var(--line);
  border: none;
}

.foot {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: -5%;
  margin-bottom: 5%;
}

.foot img {
  border: 1px solid var(--White);
  border-radius: 100%;
  width: 10%;
  margin-right: 15px;
}

.foot span {
  font-size: 15px;
  color: var(--Softblue);
}

.foot span span {
  color: var(--White);
  transition: 0.3s;
}

.foot span span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.attribution {
  margin-left: 5px;
  font-size: 12px;
  color: var(--White);
}
.attribution a {
  text-decoration: none;
  color: var(--Cyan);
}
